<div class="row">
    <div class="col-md-offset-3 col-md-6 text-left">
        {% if posts|length > 0 %}
        {% for post in posts %}

        <div class="row post">
            <div class="col-md-1 left">
                {{post.date}}
            </div>
            <div class="col-md-3 text-center">
                <img src="{{post.avatar}}" class="img-circle img-thumbnail img-xs"
                     style="max-width: 50px;"><br>
                <a href="{{post.profile_url}}" target="_blank"
                   style="color: #{{post.profile_color}}">{{post.username}}</a>
            </div>
            <div class="col-md-8">
                {{post.text}}
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>
</div>