.v-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.line {
    height: 100px;
    word-wrap: normal;
    word-break: break-all;
}

.img {
    height: 100px;
    width: 100px;
}

.navbar-default .navbar-nav > li > a.btn {
    color: #fff;
}

.navbar-default .navbar-nav > li > a.btn:hover {
    color: #000;
}
.posts .post {
    padding: 10px;
}